# This is a basic workflow to help you get started with Actions

name: Rolling build

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main, Architecture, feature/*, fix/*, release/* ]
  pull_request:
    branches: none

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    name: Building rolling build
  
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    
      - name: Checkout
        uses: actions/checkout@v2.4.0
        with:
          submodules: 'recursive'
      
      - name: get-cmake
        # You may pin to the exact commit or the version.
        # uses: lukka/get-cmake@2e45cd82cd67abcfd1b61fb17c253b99f8257189
        uses: lukka/get-cmake@v3.21.2
      
      - name: Configure CMake project
        run: cmake --preset "x64-Debug"
        
      - name: Build CMake
        run: |
          cd out/build/x64-Debug |
          ls |
          cmake --build
        
      - name: test
        run: cd out/build/x64-Debug && ls
